/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

                                                                                  /* My code goes here*/
/*        And stuff for fonts
    font-family: 'Righteous', cursive;*/


html{
  background-color: #152535;
}

h3, h2 {
  color: #758595;
  font-size: 22px;
  margin: 10px;
}
p{
  color: #708090;
}
.News{
  background-color: #102030;
}
.by{
  color: green;
  text-align: right
}
#Motto{
  letter-spacing: 13px;
  color: #758595;
  font-size: 22px;
}
a{
  color: #4575A5;
  outline: none;
}
#l1{
  text-decoration: underline;
  text-decoration-color: #356595;
  color: #356595;
}
#l2{
  text-decoration: underline;
  text-decoration-color: #255585;
  color: #255585;
}
#main {
  text-align: center;
  height: 60%;
  font-size: 60px;
  font-family: 'Righteous', cursive;
  letter-spacing: 0px;
  background-color: #253545;
  color: #95B5C5;
  order:1;
  flex-basis: 100%;
}
.wrapper {
  height: 40%;
  background-color: #102030;
  order: 3;
  flex-basis: 40%;
  text-align: center;
}
.navleft{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  background-color: purple;
  height: 40%;
  order: 2;
  flex-basis: 30%;
}
.navright{
  display: flex;
  flex-flow: row wrap;
  background-color: purple;
  flex-basis: 30%;
  height: 40%;
  order: 4;
}
.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}
.header {
  position: relative;
  height: 20%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: stretch;
  order: 1;
  flex-basis: 100%;
}
.left {
  background-color: red;
  order: 2;
  flex-basis: 30%;
  height: 80%;
}
.middle {
  background-color: green;
  order: 3;
  flex-basis: 40%;
  height: 80%;
}
.right {
  display: flex;
  flex-flow: row wrap;
  background-color: blue;
  order: 4;
  flex-basis: 30%;
  height: 80%;
}
nav ul li {
  float: left;
  background-color: black;
  display: inline-block;
  list-style: none;
}
.navright ul {
  display: flex;
  flex-flow: row wrap;

  align-items: center;
  flex-basis: 100%;
  height: 100%;
}
.el4{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex-basis: 33%;
  height: 100%;
}
.el5{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex-basis: 34%;
  height: 100%;
}
.el6{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex-basis: 33%;
  height: 100%;
}
.base{
  text-align: center;
  flex-basis: 100%;
  height: 100%;
}
.calc{
  text-align: center;
  flex-basis: 100%;
  height: 100%;
}
.maps{
  text-align: center;
  flex-basis: 100%;
  height: 100%;
}
.navright ul li a{
  display: block;
  text-decoration: none;
}
.navleft ul li a{
  display: block;
  text-decoration: none;
}

@@media only screen and (min-width: 762px) {

  #main {
    text-align: center;
    height: 60%;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    letter-spacing: 0px;
    background-color: #253545;
    color: #95B5C5;
    order:1;
    flex-basis: 100%;
  }
  .wrapper {
    height: 40%;
    background-color: #102030;
    order: 3;
    flex-basis: 40%;
    text-align: center;
  }
  .header {
    position: relative;
    height: 20%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: stretch;
    order: 1;
    flex-basis: 100%;
  }
  .left {
    background-color: red;
    order: 2;
    flex-basis: 30%;
    height: 80%;
  }
  .middle {
    background-color: green;
    order: 3;
    flex-basis: 40%;
    height: 80%;
  }
  .right {
    display: flex;
    flex-flow: row wrap;
    background-color: blue;
    order: 4;
    flex-basis: 30%;
    height: 80%;
  }
}
