
<h1>Model Binding In Parameters</h1>

<form method="post" name="myform">
@Html.TextBox("numberOne", "0", new{@type="number", @id = "input1", @onkeypress="return isNumberKey(event)"})
<select name="operation" id ="operation"> 
	<option value="+" selected>+</option>
	<option value="-" >-</option>
	<option value="*" >*</option>
	<option value="/">/</option>
</select>
@Html.TextBox("numberTwo", "0", new{@type="number", @id = "input2", @onkeypress="return isNumberKey(event)"})
<button type="submit">Submit</button>
</form>

<script>
document.forms["myform"].addEventListener("submit", e => {
    if(document.getElementById("operation").selectedIndex == "3" &&
        Number(document.getElementById("input2").value) == 0) {
        e.preventDefault();
        var d = document.createElement('div');
        document.body.appendChild(d);
        var p = document.createElement('p');
        p.innerText = "Can't divide by zero";
        document.body.appendChild(p);
    }
	
})
</script>