
@{
    ViewData["Title"] = "Controls";
}

<div>
    <h1>Controls</h1>
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="TextBox">TextBox</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="TextArea">TextArea</a></li>   
        <li><a asp-area="" asp-controller="Home" asp-action="CheckBox">CheckBox</a></li>   
        <li><a asp-area="" asp-controller="Home" asp-action="Radio">Radio</a></li>   
        <li><a asp-area="" asp-controller="Home" asp-action="DropDownList">DropDownList</a></li>   
        <li><a asp-area="" asp-controller="Home" asp-action="ListBox">ListBox</a></li>   
    </ul>
</div>

