@model WebApplab4_Forms_.Models.Registration

@{
    ViewData["Title"] = "Reset your password";
}


<div>
    <h1>Reset your password</h1>

    <form method = "post" id="formTextBox" name="formTextBox" action="">
    <div>
    <label for="input">Email</label>
    <input style="width:600px;" type="text" asp-for="email" class="form-control" id="input"/>
    <span asp-validation-for="email"></span>
    </div>
    <div id="Button">
        <input id ="InputDiv" type="submit" value="Send me a code" formaction="PasswordReset"/>
        <input id ="InputDiv" type="submit" value="I have a code" formaction="PasswordReset"/>
    </div>
</form>
</div>
<style>
    
    #InputDiv{
        margin-top: 15px;
        width: 300px;
    }
    
    </style>

@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}