@model WebApplab4_Forms_.Models.ResetCode

@{
    ViewData["Title"] = "Reset your password";
}


<div>
    <h1>Reset your password</h1>

    <p class="bg-info">Generated code: @ViewBag.testCode</p>
    <p class="bg-danger">@ViewBag.error</p>

    <form method = "post" id="formTextBox" name="formTextBox" action="">
    <div>
    <label for="input">code</label>
    <input id="InputDiv" type="text" asp-for="code" class="form-control" id="input"/>
    <span asp-validation-for="code"></span>
    </div>
    <div id ="InputDiv" id="Button">
        <input id ="InputDiv" type="submit" value="Verify" formaction="PasswordReset"/>
    </div>
</form>
</div>
<style>
    
    #InputDiv{
        width: 300px;
    }
    
    </style>

@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}