@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Mockups</h1>
    <ul>
        <li>
             <a asp-controller="Home" asp-action="StartQuiz">Quiz</a>
        </li>
        <li>
             <a asp-controller="Home" asp-action="ShowQuizResult">Quiz result</a>
        </li>
    </ul>
</div>
