html, body, div, span,
h1, h2, h3, h4, h5, h6, nav {
    padding:0;
    border:0;
    outline:0;
    color: white;
}
#purple{
  background: blueviolet;
  padding-bottom: 80px;
  position: static;
  width: 150px;
}
#red{
  padding-bottom: 75px;
  width: 150px;
  background-color: darkred;
  position: relative;
}
#orange{
  background-color: peru;
  padding-bottom: 80px;
  width: 150px;
  position: relative;
  left: 25px;
  bottom: 25px;
}
#indian{
  background-color: indianred;
  padding-bottom: 300px;
  width: 600px;
  position: relative;
}
#violet{
  background-color: indigo;
  width: 300px;
  padding-bottom: 150px;
  position: absolute;
  right: 0px;
  bottom: 60px;
}
#green{
  background-color: green;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding-bottom: 80px;
  z-index: -1;
}
